@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* variables */
:root{
    --fros-blue-color: #0050d5;
    --light-blue-color: #16c5ff;
    --dark-color: #202020;
    --light-gray: #dedede;
    --dark-gray: #a1a1a0;
    --light-color: #fff;
    --poppins-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease-in-out;
    --box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2)!important;
}

/* some resets */
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: var(--poppins-font);

}
img{
    width: 100%;
    display: block;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
.bg-blue{
    background-color: #2e5984;
}
.bg-white{
    background-color: var(--light-color);
}
.text-blue{
    color: var(--fros-blue-color);
}
.text-white{
    color: var(--light-color);
}

/* button */
.btn, button{
    border: none;
    cursor: pointer;
}
.btn{
    padding: .9rem 4rem;
    border-radius: 3rem;
    display: inline-block;
    background-color: var(--light-color);
    font-weight: 500;
    -webkit-box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.btn-white{
    color: var(--fros-blue-color);
}
.btn-light-blue{
    background-color: var(--light-blue-color);
    color: var(--light-color);
}
.btn-blue{
    background-color: var(--fros-blue-color);
    color: var(--light-color);
}
.btn-group{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.btn-group .btn{
    width: 100%;
}
.btn-group .btn:first-child{
    margin-bottom: 2rem;
}
.btn:hover{
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
}

.container{
    max-width: 95vw;
    margin: 0 auto;
    padding: 0 1rem;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.grid{
    display: grid;
}
input{
    outline: 0;
}
.lead{
    font-size: 25px;
    text-transform: capitalize;
    margin-top: 50px;
}
h1, h2, h3{
    text-transform: capitalize;
    margin-top: 0;
    line-height: 1.3;
}
.text{
    opacity: 0.9;
}
.text-md{
    font-size: 1.5rem;
}
.text-lg{
    font-size: 2rem;
    font-weight: 500;
}
.text-sm{
    font-size: 1.3rem;
}
.py{
    padding: 10.9rem 0;
}
.text-center{
    text-align: center;
}

/* header */
.header{
    min-height: 100vh;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3.2rem 0;
    z-index: 999;
}
.navbar .container{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.navbar-brand img{
    width: 100px;
}
.navbar-show-btn, .navbar-hide-btn{
    background-color: transparent;
    width: 30px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
button[class ^= navbar]:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


.navbar-collapse{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 8rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
            box-shadow: -3px 0 10px 4px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(110%);
        -ms-transform: translateX(110%);
            transform: translateX(110%);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    z-index: 1000;
}
/* navbar show class */
.navbar-show{
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.navbar-hide-btn{
    position: absolute;
    right: 2rem;
    top: 4.5rem;
}
.nav-item{
    margin: 1.4rem 0;
}
.nav-link{
    opacity: 0.8;
    font-weight: 600;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    display: inline-block;
}
.nav-link:hover{
    opacity: 1;
    color: var(--fros-blue-color);
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
}
.search-icon{
    display: block;
    width: 27px;
    margin-right: 1rem;
}
.search-control::-webkit-input-placeholder{
    color: var(--light-gray);
}
.search-control::-moz-placeholder{
    color: var(--light-gray);
}
.search-control:-ms-input-placeholder{
    color: var(--light-gray);
}
.search-control::-ms-input-placeholder{
    color: var(--light-gray);
}
.search-control::placeholder{
    color: var(--light-gray);
}
.search-control{
    height: 27px;
    width: 100%;
    border-radius: 1.9rem;
    border: 2px solid var(--light-gray);
    padding: 0 1.5rem;
}




/* header inner */
.header-inner{
    padding-top: 16rem;
}
.header-inner-left h1{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 0;
}
.header-inner-left h1 span{
    font-weight: 600;
    text-transform: uppercase;
}
.header-inner-left .lead{
    opacity: 0.9;
}
.header-inner-left .text{
    margin: 5.8rem 0;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.header-inner-left .btn-group{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.header-inner-right{
    margin-top: 6rem;
}
.header-inner-right img{
    max-width: 520px;
    margin: 0 auto;
}
.image{
    height: 100%;
    width: 100%;
    padding-top: 200px;
}
.name{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.name h1{
    color: black;
    margin: 20px 0 20px;
    font-size: 50px;
    letter-spacing: none;
}
.name h4{
    color: black;
    font-size: 20px;
}
.name h3{
    color: black;
    font-size: 25px;
    margin-bottom: 50px;
}
.nabh{
    background-color: white;
    color: #2e568f;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .3s;
    
}
.nabh:hover{
    transform: scale(1.2);
    color: black;
}
.name .tich{
    background-color: #89afc7;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 25px;
    transition: transfrom .5s;

}
.tich:hover{
    transform: scale(1.2);
    color: #fff;
    
}











/* about section */
.section-head h2{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    text-align: center;
}
.border-line{
    height: .4rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--light-gray);
    position: relative;
}
.border-line::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 100%;
    width: 102px;
    background-color: var(--light-blue-color);
}
.about-left{
    margin-bottom: 6rem;
}
.about-right{
    margin-top: 16.8rem;
}
.about-left .text{
    margin: 5.6rem 0;
    line-height: 2.3;
}
.about .btn-white{
    color: var(--dark-gray);
}
.about-right .img{
    width: 100%;
    background-color: #3983fe;
    max-width: 537px;
    position: relative;
}
.about-right .img img{
    padding-top: 10rem;
    -webkit-transform: scaleX(1.03);
        -ms-transform: scaleX(1.03);
            transform: scaleX(1.03);
}
.about-right .img::after, .about-right .img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.about-right .img::after{
    top: -56px;
    left: 0;
    background-color: #0060ff;
    z-index: -1;
}
.about-right .img::before{
    top: -112px;
    left: 0;
    background-color: var(--fros-blue-color);
    z-index: -2;
}

/*---About Section---*/

.about{
    position: absolute;
    top: 830px;
    width: 100%;
    padding: 100px 0px;
    background-color: #dadbdd;
}
.about img{
    height: auto;
    width: 430px;
}

.abt-txt{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.abt-txt h2{
    color: black;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.abt-txt h5{
    color: #2e568f;
    letter-spacing: 1px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.abt-txt p{
    color: #2e568f;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.abt-txt .tich{
    background-color: #89afc7;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 25px;
    transition: transfrom .5s;
}
.abt-txt .tich:hover{
    transform: scale(1.2);
    color: #fff;
    cursor: pointer;
    
}







*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans,sans-serif;";
    box-sizing: border-box;
}
.title{
    min-height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.img{
    width: 95%;
}
.about-section{
    background-size: 55%;
    background-color: #dadbdd;
    overflow: hidden;
    padding: 100px 0;
    border-radius: 40px;
}
.inner-section{
    width: 75%;
    float: right;
    margin-right: 150px;
    background-color: #;
}
.inner-section h1{
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 700;
    color: #000;
}
.tex{
    font-size: 14px;
    color: #000;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    color: #000;
}


/* banner one section */
.banner-one{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 80, 213, 0.9)), to(rgba(0, 90, 213, 0.85))), url('../images/banner-1-img.png') top/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 80, 213, 0.9), rgba(0, 90, 213, 0.85)), url('../images/banner-1-img.png') top/cover no-repeat;
    background: linear-gradient(rgba(0, 80, 213, 0.9), rgba(0, 90, 213, 0.85)), url('../images/banner-1-img.png') top/cover no-repeat;
    height: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.banner-one .lead{
    font-size: 2.8rem;
    font-weight: 500;
    max-width: 600px;
}
.banner-one .text-sm{
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.style{
    background: #98AFC7;
    font-family: sans-serif;
}
.wrapper{
    margin-top: 10%;
    height: 970px;
}
.wrapper h1{
    font-size: 52px;
    text-align: left;
    margin-left: 38%;
    color: #fff;
    padding: 60px;
}
.wrapper h6{
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: -80px;
    margin-left: 5%;
}
.team{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    margin-top: 150px;
}
.team .team-member{
    background: #fff;
    margin: 30px;
    margin-bottom: 40px;
    width: 500px;
    padding: 20px;
    line-height: 30px;
    color: #8e8b8b;
    position: relative;
}
.team .team-member h3{
    color: #2e5984;
    font-size: 26px;
    margin-top: 50px;
}
.team .team-member p.role{
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}



/*---Banner Section---*/

.bnnr{
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 80, 213, 0.9)), to(rgba(0, 90, 213, 0.85))), url('../images/banner-1-img.jpeg') top/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 80, 213, 0.9), rgba(0, 90, 213, 0.85)), url('../images/banner-1-img.jpeg') top/cover no-repeat;
    background: linear-gradient(rgba(0, 80, 213, 0.9), rgba(0, 90, 213, 0.85)), url('../images/banner-1-img.jpeg') top/cover no-repeat;
    height: 480px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 1603px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            align-items: center;
}

.bnnr .fead{
    font-size: 35px;
    font-weight: 500;
    max-width: 600px;
    color: white;
    align-items: center;
    justify-content: center;

}
.bnnr .text-sm{
    font-size: 20px;
    color: white;
    
}










/* services section */
.services .section-head .text-lg{
    color: var(--dark-gray);
    margin-top: -2rem;
}
.services .section-head img{
    margin: 3.7rem auto;
}
.line-art{
    max-width: 240px;
    margin: auto;
}
.line-art img{
    width: 30px;
}
.line-art div{
    width: 100px;
    height: 2px;
    background-color: var(--light-gray);
}
.services-inner{
    padding: 6rem 0;
}
.service-item{
    padding: 3rem;
    margin-bottom: 3rem;
}
.service-item:last-child{
    margin-bottom: 0;
}
.service-item .icon img{
    width: 80px;
    margin: auto;
}
.service-item h3{
    margin: 5rem 0;
    opacity: 0.7;
}



.Service{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    margin-top: 120px;
}

.slide-container{
    max-width: 60%;
    max-height: 70%;
   
    background-color: #98AFC7;
    padding: 40px 0;
    margin-top: 100px;
    margin-bottom: 80px;
}
.slide-content{
    margin: 0 40px;
}
.card{
  
    border-radius: 25px;
    background-color: #fff;
    height: 900px;

}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 20px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #2e5984;
    border-radius: 25px 25px 0 25px;
}
/*.overlay::before
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #FF0000;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}*/
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
    
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #2e5984;

}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-top: 20px;

}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #2e5984;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #98AFC7;
}







/*----Service Section----*/

.srvc{
    width: 100%;
    height: 100vh;


}
.srvc h1{
    text-align: center;
    padding-top: 1350px;
    font-size: 50px;
    font-weight: 600;
    position: relative;
}
.srvc h1::after{
    content: '';
    background: #2e568f;
    width: 200px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 47%;
    transform: translateX(-50px);

}
.ttl{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 70px;

}
.row{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s, background 0.5s;

}
.row img{
    width: 80px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #89afc7;
    cursor: pointer;
    border-radius: 50%;
}
.row h2{
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 8px;

}
.row:hover{
    background: #2e567f;
    color: white;
    transform: scale(1.05);

}



/* banner two section */
.banner-two{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 80, 213, 0.9)), to(rgba(0, 90, 213, 0.85))), url('../images/banner-two-bg.png') top/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 80, 213, 0.9), rgba(0, 90, 213, 0.85)), url('../images/banner-two-bg.png') top/cover no-repeat;
    background: linear-gradient(rgba(0, 80, 213, 0.9), rgba(0, 90, 213, 0.85)), url('../images/banner-two-bg.png') top/cover no-repeat;
    padding: 13.6rem 0;
}
.banner-two-left img{
    max-width: 620px;
    margin: auto;
}
.banner-two-right .lead{
    font-size: 2.2rem;
    margin-top: 6rem;
}
.banner-two-right .btn-group{
    margin-top: 6rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}












/* doctors panel */
.doc-panel-inner{
    margin-top: 8rem;
}
.doc-panel-item{
    margin-bottom: 6rem;
}
.doc-panel-item:last-child{
    margin-bottom: 0;
}
.doc-panel-item .img{
    position: relative;
    height: 440px;
    background-color: var(--light-gray);
    overflow: hidden;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.doc-panel-item .img .info{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.doc-panel-item .img{
    max-width: 357px;
    margin-left: auto;
    margin-right: auto;
}
.doc-panel-item:hover .info{
    bottom: 0;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container-fluid{
    width: 100%;
    height: 100vh;
    background: #dedede;
}

.content{
    width: 1200px;
    height: 210vh;
    padding-left: 100px;
    margin-top: -450px;
}
.content h4{
   ;
    color: #8f9192;
}
.content h1{
    font-size: 50px;
    padding-top: 10px;
    color: #2c2e31;
}
.content p{
    color: #3e4042;
    line-height: 20px;
    letter-spacing: 1px;
    padding-top: 10px;
}
.content .btn{
    width: 170px;
    height: 45px;
    color: #fff;
    border-radius: 25px;
    background: #2e5984;
    cursor: pointer;
    border: 2px solid #98AFC7;
    margin-top: 20px;
    transition: .5s;
}
.content .btn:hover{
    background: transparent;
    background-color: #98AFC7;
    border: 2px solid #2e5984;

}
.images{
    min-height: 30px;
    width: 30%;
    margin-left: 950px;
    margin-top: -1600px;
}


/* package service */
.package-service-inner{
    margin-top: 14rem;
}
.package-service{
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 80, 213, 0.85)), to(rgba(0, 80, 213, 0.95))), url('../images/package-service-img.jpg') center/cover no-repeat;
    background: -o-linear-gradient(rgba(0, 80, 213, 0.85), rgba(0, 80, 213, 0.95)), url('../images/package-service-img.jpg') center/cover no-repeat;
    background: linear-gradient(rgba(0, 80, 213, 0.85), rgba(0, 80, 213, 0.95)), url('../images/package-service-img.jpg') center/cover no-repeat;
}
.package-service-head{
    color: var(--light-color);
}
.package-service-head h2{
    font-size: 39px;
}
.package-service-item{
    padding: 3rem 5rem;
    position: relative;
    margin-bottom: 12rem;
}
.package-service-item:last-child{
    margin-bottom: 0;
}
.package-service-item .icon{
    width: 86px;
    height: 86px;
    background-color: var(--light-blue-color);
    border-radius: 2rem;
    border-bottom-right-radius: 0;
    color: var(--light-color);
    position: absolute;
    top: -43px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
}
.package-service-item .icon i{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.package-service-item h3{
    opacity: 0.7;
    margin: 8rem 0 4rem 0;
}
.package-service-item .text-sm{
    color: var(--dark-gray);
}
.package-service-item .btn{
    margin: 4rem 0;
}






/* posts section */
.posts{
    background-color: var(--light-gray);
}
.posts-inner{
    margin-top: 6rem;
}
.post-item{
    padding: 1.2rem;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    margin-bottom: 6rem;
}
.post-item:last-child{
    margin-bottom: 0;
}
.post-item .content{
    padding: 3rem 2rem 1rem 2rem;
}
.post-item h4{
    margin-bottom: 1rem;
}
.post-item .text{
    padding: 1rem 0;
}
.post-item .info{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: var(--dark-gray);
}
.post-item .info .text{
    padding-bottom: 0;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.pic1{
    height: -15px;
    width: 25%;
}
.pic2{
    height: -15px;
    width: 25%;
}
.pic3{
    height: -15px;
    width: 25%;
}
.head{
    width: 100%;
}
.head .row{
    width: 80%;
    margin: auto;
}
.head .row .head1{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-top: 220px;
}
.head .row .head1 h1{
    padding-top: 30px;
    font-size: 45px;
    color: #2e568f;
}
.head .row .head1 p{
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
}
.cntnt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}
.cntnt .pic1{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0xp rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.cntnt .pic2{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0xp rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.cntnt .pic3{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0xp rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.cntnt .pic1 img{
    width: 100%;
    height: auto;
    border-radius: 5.5%;
}
.cntnt .pic2 img{
    width: 100%;
    height: auto;
    border-radius: 5.5%;
}
.cntnt .pic3 img{
    width: 100%;
    height: auto;
    border-radius: 5.5%;
}

.cntnt .pic1 h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    color: red;
    text-align: center;
}

.cntnt .pic2 h4{
    margin-top: 10px;
    margin-left: 10px;
     font-size: 30px;
    color: red;
    text-align: center;
}
.cntnt .pic3 h4{
    margin-top: 10px;
    margin-left: 10px;
     font-size: 30px;
    color: red;
    text-align: center;
}
.cntnt .pic1 p{
    font-size: 16px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;

}
.cntnt .pic2 p{
    font-size: 16px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}
.cntnt .pic3 p{
    font-size: 16px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}




/* contact section */
.contact-left{
    margin-bottom: 6rem;
    height: 100%;
}
.contact-left iframe{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.contact-right{
    padding: 5rem 4rem;

}
.contact-right form{
    margin-top: 5rem;
}
.form-element .form-control{
    width: 100%;
    background-color: #3373dd;
    border: none;
    outline: 0;
    padding: 1rem 1.6rem;
    margin-bottom: 1.6rem;
    color: var(--light-color);
}
.form-element .form-control::-webkit-input-placeholder{
    color: var(--light-color);
}
.form-element .form-control::-moz-placeholder{
    color: var(--light-color);
}
.form-element .form-control:-ms-input-placeholder{
    color: var(--light-color);
}
.form-element .form-control::-ms-input-placeholder{
    color: var(--light-color);
}
.form-element .form-control::placeholder{
    color: var(--light-color);
}
.btn-submit{
    margin-top: 4rem;
}
.btn-submit i{
    margin-right: 2rem;
}

.contat{
    padding-top: 1200px;
}

.mg{
    background-color: #2e568f;
    height: 550px;
}

.contat-head h3{
    font-size: 55px;
    font-weight: 600;
    padding-left: 575px;
    color: white;
    padding-top: 50px;
}

.contat-head p{
    font-size: 22px;
    padding-left: 0px;
    color: white;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 15px;
}
.form-element{
    margin-left: 500px;
    display: flex;
    padding: 5px;
    width: 600px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,3.1);
    padding-top: 10px;
}
.form-element .form-control{
    width: 500px;
    background-color: #89afc7;
    border: none;
    outline: 0;
    padding: 5px 3px;
    margin-bottom: 1.6rem;  
}

.nhii{
    margin-left: 650px;
    margin-top: 50px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.image{
   width: 115%;
    margin-top: -215px;
}
.contact{
    position: relative;
    min-height: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
   
    margin-top: 120px;
}
.contact .content{
    max-width: 800px;
    text-align: center;
    margin-top: -1100px;
    justify-content: center;
    margin-left: -150px;
}
.contact .content h2{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-top: 70px;
    padding-left: 120px;
}
.contact .content p{
    font-weight: 600;
    font-size: 20px;
    color: #191919;
}
.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

   
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: -1100px;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.text p{
    color: #fff;
}
.contactForm{
    width: 50%;
    padding: 40px;
    background: #fff;
    margin-left: 550px;
   margin-top: -280px;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;t
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateX(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* footer */
.footer{
    background-color: var(--dark-color);
    margin-top: -10px;
   

}
.footer-item{
    margin-bottom: 6rem;
}
.footer-item:last-child{
    margin-bottom: 0;
}
.footer-head{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 4rem;
}
.footer-item .icon{
    width: 120px;
    margin: auto;
}
.footer-item .text{
    padding: 3rem 0;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.footer-item address{
    font-size: 1.5rem;
    font-style: normal;
}
.footer-item .tags-list{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.footer-item .tags-list li{
    margin: .5rem 1rem;
    padding: .5rem 1rem;
    background-color: rgb(58, 58, 58);
    border-radius: .4rem;
}
.footer-item a{
    margin-bottom: 1rem;
    display: inline-block;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.footer-item a:hover{
    color: var(--dark-gray);
}
.footer-item:last-child .text{
    padding-top: 0;
}
.footer-item .appointment-info li{
    margin: 1rem 0;
}
.footer-item .appointment-info li span{
    margin-left: 1rem;
}
.footer-links{
    border-top: 2px solid var(--dark-gray);
    padding: 4.5rem 0;
}
.footer-links li{
    margin: 0 2.4rem;
    font-size: 2rem;
}
.footer-links li a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--light-color);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}
.footer-links li a:hover{
    background-color: var(--light-color);
    color: var(--fros-blue-color);
}




/* Media Queries */
@media(min-width: 450px){
    .navbar-collapse{
        width: 320px;
    }
    .btn-group .btn{
        width: auto;
    }
    .btn-group .btn:first-child{
        margin-right: 48px;
        margin-bottom: 0;
    }
    .border-line{
        width: 405px;
    }

}

@media(min-width: 768px){
    .header-inner-left h1{
        font-size: 5.7rem;
    }
    .services-inner, .doc-panel-inner{
        grid-template-columns: repeat(2, 1fr);
    }
    .doc-panel-inner{
        -webkit-column-gap: 3rem;
           -moz-column-gap: 3rem;
                column-gap: 3rem;
    }
    .doc-panel .section-head h2{
        text-align: left;
    }
    .package-service-inner, .posts-inner, .footer-inner{
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 6rem;
           -moz-column-gap: 6rem;
                column-gap: 6rem;
    }
    .footer-inner{
        text-align: left;
    }
    .footer-item .icon, .footer-item .text{
        margin-left: 0;
    }
    .footer-item .tags-list{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}

@media(min-width: 992px){
    .header-inner{
        padding-top: 3.2rem;
    }
    .header-inner .container{
        grid-template-columns: 545px auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: calc(100vh - 32px);
        position: relative;
    }
    .header-inner-left{
        text-align: left;
    }
    .header-inner-left .text{
        margin-left: 0;
    }
    .header-inner-left .btn-group{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }
    .header-inner-right img{
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 5rem;
    }
    .about-inner .container{
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 3rem;
           -moz-column-gap: 3rem;
                column-gap: 3rem;
    }
    .about-left{
        text-align: left;
        margin-bottom: 0;
    }
    .about-left .section-head h2{
        text-align: left;
    }
    .border-line{
        margin-left: 0;
    }
    .border-line::after{
        left: 0;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .about-right{
        margin-left: auto;
        margin-top: 11.2rem;
    }

    .banner-two .container{
        grid-template-columns: repeat(2, 1fr);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-column-gap: 6rem;
           -moz-column-gap: 6rem;
                column-gap: 6rem;
    }
    .banner-two-right{
        text-align: left;
    }
    .banner-two-right .btn-group{
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    .banner-two-right .lead{
        margin-top: 0;
    }
    .banner-two-left img{
        width: 100%;
        max-width: 100%;
    }
    .doc-panel-inner{
        grid-template-columns: repeat(3, 1fr);
    }
    .doc-panel-item{
        margin-bottom: 0;
    }
    .package-service-inner{
        grid-template-columns: repeat(3, 1fr);
    }
    .package-service-item{
        margin-bottom: 0;
    }

    .contact .container{
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 2.4rem;
           -moz-column-gap: 2.4rem;
                column-gap: 2.4rem;
    }
}

@media(min-width: 1200px){
    .navbar-show-btn, .navbar-hide-btn{
        display: none;
    }
    .navbar-collapse{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
    .navbar-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .nav-item{
        margin: 0;
        margin-left: 3.5rem;
    }
    .nav-link{
        color: var(--light-color);
        opacity: 1;
        font-weight: 500;
        position: relative;
    }
    .nav-link::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--light-color);
        opacity: 0;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition);
    }
    .nav-link:hover{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        color: var(--light-color);
    }
    .nav-link:hover::after{
        opacity: 1;
        width: 100%;
    }
    .search-bar{
        margin-left: 5.5rem;
    }
    .search-inner-right{
        width: 100%;
    }
    .search-inner-right img{
        padding-left: 0;
        max-width: 647px;
    }
    .search-control{
        width: 150px;
    }
    .header-inner-right{
        width: 100%;
    }
    .header-inner-right img{
        padding-left: 0;
        max-width: 647px;
    }

    .services-inner{
        grid-template-columns: repeat(4, 1fr);
        -webkit-column-gap: 2rem;
           -moz-column-gap: 2rem;
                column-gap: 2rem;
    }
    .service-item{
        margin-bottom: 0;
    }
    .doc-panel-inner{
        -webkit-column-gap: 9rem;
           -moz-column-gap: 9rem;
                column-gap: 9rem;
    }
    .posts-inner{
        grid-template-columns: repeat(3, 1fr);
    }
    .post-item{
        margin-bottom: 0;
    }

    .contact .container{
        grid-template-columns: auto 514px;
    }
    .footer-inner{
        grid-template-columns: repeat(4, 1fr);
        -webkit-column-gap: 6rem;
           -moz-column-gap: 6rem;
                column-gap: 6rem;
    }
}

@media(min-width: 1480px){
    /* general */
    .container{
        max-width: 81vw;
    }
}

/* transition and animation stopper */
.resize-animation-stopper *{
    -webkit-animation: none!important;
            animation: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}
.card{
    float: left;
    padding: 10px;
    margin: 0px;
    

}








